:root {
    --bg: #282828;
    --txt: #458588;
    --purple: rgba(89, 6, 167, 0.8);
    --white: #E8E8E8;
    --red: #ff0000;

}

body {
    font-family: "JetBrains Mono", monospace;
    background-color: var(--bg);
    color: var(--txt);
}

.patrick {
    width: 10vw;
}

.purple {
    color: var(--purple);
}

.white {
    color: var(--white);
}

.red {
    color: var(--red);
}

#about {
    margin: auto;
    width: 50vw;
    padding: 10px;
}

#about2 {
    margin: auto;
    width: 50vw;
    padding: 10px;
}

a:link, a:visited {
    color: var(--txt);
}

a:hover {
    color: var(--purple);
    border-bottom: 0;
    transition: .4s ease;
}

.card {
    background-color: #1f1f1f;
    border-radius: 10px;
    width: 50vw;
}

.button {
    margin: auto;
    background-color: #282928;
    width: 30vw;
    height: 30vh;
}

#project {
    margin: auto;
    width: 20vw;
    height: 10vh;
    color: var(--red);
}
